{% extends 'about/base.html' %}

{% block content %}

    <div>
        <h1>LightsOut -Discord bot</h1>
        <hr>
        <h2>Project purpose</h2>
        <p>Purpose of the project is, of course, to mess around with the lights in your home. Please register, and
            have our Discord -bot on your server to watch for mentions of registered people. It will play cool
            light-effects in your home whenever someone mentions you. Of course, you can also have the bot also ignore
            people who think they can make a disco of your house.</p>
        <p>At the moment only LIFX -brand lights work.</p>
    </div>
    <div>
        <h2>How to get stuff working</h2>
        <p>First you need to buy some LIFX-brand color lights. Register to LIFX and install the lights as per
            provided instruction. Almost lastly, get your LIFX developer token from
            <a href="https://cloud.lifx.com">https://cloud.lifx.com</a>. Then register to LightsOut -website, provide
            your Discord-tag and paste your developer token to the app in "Edit yourself" -menu.
        </p>
    </div>
    <div>
        <h2>How to get LightsOut -bot on to your server</h2>
        <p>TODO: write</p>
    </div>
    <div>
        <h2>Bot commands</h2>
        <p>
            Bot commands are as follows.
        <ul class="bot-commands">
            <li>
                <strong>$enable</strong>
                <span>Enables light effects on the server for you.</span>
            </li>
            <li>
                <strong>$disable</strong>
                <span>Disables light effects on the server for you.</span>
            </li>
            <li>
                <strong>$ignore user</strong>
                <span>Disables light effects from mentions made by user.</span>
            </li>
            <li>
                <strong>$unignore user</strong>
                <span>Re-enables light effects from mentions made by user.</span>
            </li>
            <li>
                <strong>$ignore_list</strong>
                <span>Gives list of your ignored Discord users.</span>
            </li>
            <li>
                <strong>$guilds</strong>
                <span>Shows your enabled guilds (aka servers).</span>
            </li>
        </ul>
        Bot is disabled for each user on a guild by default (even if they're registered) and user has to enable it
        first.
        </p>
    </div>
{% endblock %}
