{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lights out -Discord bot</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <ul class="nav-bar">
        <li class="nav-item">
            <a {% if active_page == "about" %}
                class="nav-link active"
            {% else %}
                class="nav-link"
            {% endif %} aria-current="page"
                href="{% url 'landing_page' %}">About</a>
        </li>
        {% if authenticated %} {# If authenticated show different menu items. #}
            {#            If authenticated, show menu to edit your information and log out#}
            <li class="nav-item">
                <a {% if active_page == "edit_user" %}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}
                    href="{% url 'edit_user' %}">Edit yourself</a>
            </li>
            <li class="nav-item">
                <a {% if active_page == "your_lights" %}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}
                    href="{% url 'your_lights' %}">Your lights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sign_out_user' %}">Sign out</a>
            </li>
            <li class="username-label">
                <p>username:</p>
            </li>
            <li class="username">
                {{ username }}
            </li>


        {% else %}
{#            If not authenticated, show options to Sign up and Sign in.#}
            <li class="nav-item">
                <a {% if active_page == "sign_up" %}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}
                    href="{% url 'sign_up_user' %}">Sign up</a>
            </li>
            <li class="nav-item">
                <a {% if active_page == "sign_in" %}
                    class="nav-link active"
                {% else %}
                    class="nav-link"
                {% endif %}
                    href="{% url 'sign_in_user' %}">Sign in</a>
            </li>

        {% endif %} {# Endif authenticated #}
    </ul>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
